# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.log
*.tmp
*.bak
*.zip
*.rar
*.7z
*.tar
*.tar.gz
*.gz

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
/temp*
_*.csv
dup_*.csv
kontrabon_*.csv
BACKEND/*.log
BACKEND/*.csv

# env files (can opt-in for committing if needed)
.env*
!.env.example
!BACKEND/.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

certificates
/public/uploads
/public/uploads.zip
/public/logos
/public/**/*.png
/public/**/*.jpg
/public/**/*.jpeg
/public/**/*.jfif
/public/**/*.avif
/public/**/*.webp
/public/**/*.gif
/public/**/*.svg
/public/**/*.mp4
!/public/logo_gwen.png
!/public/logo_gwen_sq_500.png
