PORT=3500
HTTPS_PORT=3443  
HOST=0.0.0.0
WEB_BASE_URL=http://localhost:3000

# Provide absolute paths or leave blank to disable HTTPS
SSL_KEY_PATH=./certs/server.key
SSL_CERT_PATH=./certs/server.crt

DB_HOST=server-ppj
DB_PORT=9777
DB_NAME=db_gwen_v2
DB_USER=sa
DB_PASSWORD=resmi12

UPLOAD_DIR=./uploads
MIN_UPLOAD_FILE_SIZE=20480
MIN_UPLOAD_WIDTH=400
MIN_UPLOAD_HEIGHT=0

IMAGE_STORAGE_ENDPOINT=https://image.gwencosmetic.com
IMAGE_STORAGE_PUBLIC_URL=https://image.gwencosmetic.com
IMAGE_STORAGE_BUCKET=promo-images
IMAGE_STORAGE_REGION=us-east-1
IMAGE_STORAGE_ACCESS_KEY=change-me
IMAGE_STORAGE_SECRET_KEY=change-me
